#mainTable{
    font-size: 19px;
    font-family: 'Josefin Slab', serif;
    text-align: center;
    vertical-align: middle;
    width: 410px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: separate;
    border-spacing: 10px 5px;

    }

    #leftField{
    width: 120px;
    height: 150px;
    border: 1px solid #000;
    cursor: pointer;

    }

    #rightField{
    width: 120px;
    height: 150px;
    border: 1px solid #000;
    cursor: pointer;

    }

    .middleField{
    width: 120px;
    height: 70px;
    border: 1px solid #000;
    cursor: pointer;

    }

    a{
    color: #5b17ba;
    text-decoration : none;

    }

    a:hover{
    color: #945ce3;

    }

    body {
    width: 600px;
    margin: 0 auto;
    font-family: 'Josefin Slab', erif;
    background: #D8B194;
    color: #000;
    }
